---
layout: archive
title: "Photoacoustic Tomography"
permalink: /research/pat/
author_profile: true
---

{% include base_path %}

<p class="page__lead">
  Since 2019, during my master’s and PhD studies, I have focused on photoacoustic tomography, primarily using ring-array geometries and, in some projects, linear arrays. My research has addressed image-quality limitations caused by sparse sampling, finite-aperture effects, limited-view acquisition, and bandwidth constraints. I have developed reconstruction and signal-processing methods to suppress artifacts, improve spatial resolution, and preserve the structure of photoacoustic absorbers, with the broader goal of enabling faster and more reliable PAT imaging.</p>

<!-- Iterates through research items and renders full cards inline -->
{% for post in site.research reversed %}
  {% if post.category == "pat" %}
    {% include research-card.html %}
  {% endif %}
{% endfor %}
